
@font-face {font-family: "iconfont";
  src:url('../font/iconfont.ttf?t=1533438195751') format('truetype')
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e600"; }

.icon-wenhao:before { content: "\e64e"; }

.icon-nongyeblank:before { content: "\e627"; }

.icon-jiansheblank:before { content: "\e659"; }

.icon-arrow-down:before { content: "\e692"; }

.icon-arrow-left:before { content: "\e693"; }

.icon-arrow-right:before { content: "\e694"; }

.icon-arrow-up:before { content: "\e695"; }

.icon-location_light:before { content: "\e6a2"; }

.icon-account:before { content: "\e6a3"; }

.icon-lightning:before { content: "\e794"; }

.icon-huabei:before { content: "\e61e"; }

.icon-dui:before { content: "\e608"; }
